body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.font-size {
    font-size: 65px;
}

.font-size-1 {
    color: white;
    text-align: center;
}

.link-bottom {
    text-decoration: none;
    background-color: rgb(205, 92, 92);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 6px;
}


h1 {
    color: black;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

#color-white {
    color: white;
}

.background-photo {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 1440px;
    left: 0;
    top: 0;
}

.Donate-Today {
    padding-top: 80px;
    text-align: center;
}

.display {
    display: flex;
}

.margin {
    margin: 50px;

}

#border {
    border: 10px 20px;
    box-sizing: content-box;
    background-color: aqua;
}

.middle {
    color: dimgray;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;

}

.Our-Donate-Plan {
    padding-top: 100px;
    text-align: center;
}

.faxible {
    display: flex;
}

.left-box box {
    background-color: ;
}

#box-1 {
    text-align: justify;
    background-color: #4F9DA61A;
    border-radius: 2px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-left: 150px;
    margin-right: 10px;
}

#box-2 {
    text-align: justify;
    background-color: #FF59591A;
    border-radius: 2px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#box-3 {
    text-align: justify;
    background-color: rgb(243, 240, 203);
    border-radius: 2px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 150px;
}

.half-width {
    width: 50%;
    padding: 3%;

}

.half-width img {
    width: 80%;
}