body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.font-size {
    font-size: 50px;
}

.font-size-1 {
    color: white;
    text-align: center;
}

.padding-top {
    padding-top: 100px;
}

.link-bottom {
    text-decoration: none;
    background-color: rgb(205, 92, 92);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 6px;
}

h1 {
    color: black;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

#color-white {
    color: white;
}

.background-photo {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 1440px;
    left: 0;
    top: 0;
}

.Donate-Today {
    padding-top: 80px;
    text-align: center;
}

.margin {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: antiquewhite;
    margin-left: 5px;
    margin-right: 5px;
}

.tk {
    text-align: center;
    background-color: lightpink;
}

.middle {
    color: dimgray;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.Our-Donate-Plan {
    padding-top: 100px;
    text-align: center;
}

.flexible {
    display: flex;
}

.hr-tag {
    width: 50%;
    padding-bottom: 20px;
}

#box-1 {
    text-align: justify;
    background-color: #4F9DA61A;
    border-radius: 2px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-left: 150px;
    margin-right: 10px;
}

#box-2 {
    text-align: justify;
    background-color: #FF59591A;
    border-radius: 2px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#box-3 {
    text-align: justify;
    background-color: rgb(243, 240, 203);
    border-radius: 2px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 150px;
}

.half-width {
    text-align: left;
    width: 450px;
    height: 350px;
    padding-top: 130px;
    padding-left: 156px;
    border-radius: 5px;
}

.half-width img {
    width: 100%;
    border-radius: 5px;
}

#left-side {
    text-align: justify;
}

#right-side {
    text-align: justify;
}

.Donate {
    text-align: center;
    font-size: smaller;
}

.Updates {
    margin-top: 60px;
}

.botton {
    text-align: center;
    column-gap: 0;
    background-color: cornsilk;
    text-decoration: none;
    padding: 50px;
}

.Subscribe {
    background-color: rgb(205, 92, 92);
    margin: -7px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.footer-1 {
    color: indianred;
    font-family: 'Times New Roman', Times, serif;
}

.footer-2 {
    color: white;
    text-align: center;
    font-size: smaller;
}