body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.font-size {
    font-size: 65px;
}

.font-size-1 {
    color: white;
    text-align: center;
}

.link-bottom {
    text-decoration: none;
    background-color: rgb(205, 92, 92);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 6px;
}


h1 {
    color: black;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

#color-white {
    color: white;
}

.background-photo {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 1440px;
    left: 0;
    top: 0;
}

.Donate-Today {
    padding-top: 80px;
    text-align: center;
}

.display {
    display: flex;
    margin: 10px 20px;

}